{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block head %}
<title>Engage | Login</title>
<script type="text/javascript" src="{% static 'js/login.js' %}"></script>
{% endblock %}

{% block body %}
<div class="row">
	<div class="col-12"><br></div>
	<div class="col-1"></div>
	<div class="col-6" style="background-color: #fff8f8;">
		<div class="row">
			<div class="col-12">
				<br>
				<img src="{% static 'images/engage-logo-horiz-lrg.png' %}" width="80%" />
				<br><br>
				OPEN ACCESS ENERGY SYSTEM PLANNING
				<p><b>BETA VERSION</b> (Supported on Modern <a href="https://www.google.com/chrome"><i class="fab fa-chrome"></i> Chrome</a> and <a href="https://www.firefox.com/"><i class="fab fa-firefox"></i> Firefox</a> Browsers)</p>
				<p>{% trans "Engage is a highly accessible and flexible web-based energy planning model for rapid multi-sectoral scenario exploration. Its cloud-based shared data model, intuitive interface and visualization capabilities facilitate collaboration and communication among diverse stakeholder groups, teams, and experts modeling systems from district energy / microgrid to national scales." %}</p>
			</div>
			<div class="col-12">
				{% trans "Need assistance with this tool?" %}
				<br>
		      	<b>{% trans "Project Assistance" %}:</b>&nbsp;
				<a href = "mailto: Tom.Harris@nrel.gov"><i class="fas fa-envelope"></i> Tom Harris</a>
				<br>
				<b>{% trans "Technical Assistance" %}:</b>&nbsp;
				<a href = "mailto: Robert.Spencer@nrel.gov"><i class="fas fa-envelope"></i> Rob Spencer</a>
				<br><br>
			</div>
			<div class="col-12">
				<h5>{% trans "Sample Models" %}:</h5>
				{% if public_models %}
					{% for public_model in public_models %}
						<a href="{% url 'model' public_model.uuid %}">&nbsp;{{ public_model.name }}&nbsp;</a><br>
					{% endfor %}
				{% else %}
					<span class="table-danger">{% trans "There are no publicly available sample models" %}</span>
				{% endif %}
				<br>
			</div>
			<div class="col-12">
				<h5>{% trans "Case Studies" %}:</h5>
			</div>
			<div class="col-12">
				<iframe width="230" height="130" src="https://www.youtube.com/embed/NkJ0p8O5ziM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<iframe width="230" height="130" src="https://www.youtube.com/embed/kBwBf2bYzsE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<br><br>
			</div>
			<div class="col-12">
				<h5>{% trans "Documentation" %}:</h5>
		      	<!-- Calliope Documentation -->
		      	<a href="https://www.callio.pe/" target="_blank">
					<img src="{% static 'images/calliope_logo.png' %}" height="36px" style="margin-top:-4px" />
				</a>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		      	<a href="https://calliope.readthedocs.io/en/v0.6.3/" target="_blank"><b>{% trans "Calliope Documentation" %}</b></a>
				<br><br>
			</div>
		</div>
	</div>
	<div class="col-1"></div>
	<div class="col-3 centered" style="background-color: #fff8f8;">
		<br>
		<h4 id="login-label" style="display:inline">{% trans "Login" %}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</h4>
		<button id="register_btn" class="btn btn-sm btn-primary text-sm" style="margin-top:-10px">{% trans "Register" %}</button>
		<button id="register_cancel" class="btn btn-sm btn-outline-danger text-sm hide" style="margin-top:-10px">{% trans "Cancel" %}</button>
		<br><br>
		{% include 'registration/login_form.html' %}
		{% include 'registration/login_registration_form.html' %}
	</div>
	<div class="col-1"></div>
</div>
{% endblock %}