{% load i18n %}

<form id="login_form" method="post" action="{% url 'login' %}?next={{ redirect_to }}" data-alert="{{ status }}">
	{% csrf_token %}
	<div class="form-group">
		<label for="email"><b>{% trans "Email" %}:</b></label>
		<input required autofocus class="form-control" type="text" name="email" placeholder="{% trans 'Email' %}">
	</div>
	<div class="form-group">
		<label for="password"><b>{% trans "Password" %}:</b></label>
		<input required class="form-control" type="password" name="password" placeholder="{% trans 'Password' %}">
	</div>
<small id="passwordHelp" class="form-text text-muted"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;&nbsp;{% trans 'Forgot password' %}? <a href="{% url 'password_reset' %}">{% trans 'RESET' %}</a></small>
<br>
<input type="submit" class="btn btn-sm btn-success" name="" value="{% trans 'Login' %}">
<br><br>
</form>