{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head %}
<title>Engage | Login</title>
{% endblock %}

{% block body %}
<div class="row">
	<div class="col-12"><br></div>
	<div class="col-1"></div>
	<div class="col-6" style="background-color: #fff8f8;">
		<div class="row">
			<div class="col-12">
				<br>
				<img src="{% static 'images/engage-logo-horiz-lrg.png' %}" width="80%" />
				<br><br>
				{% trans "OPEN ACCESS ENERGY SYSTEM PLANNING" %}
				<p>{% trans "Supported on Modern" %} <a href="https://www.google.com/chrome"><i
							class="fab fa-chrome"></i> Chrome</a> {% trans "and" %} <a
						href="https://www.firefox.com/"><i class="fab fa-firefox"></i> Firefox</a>
					{% trans "Browsers" %}</p>
				<p>{% trans "Engage is a highly accessible and flexible web-based energy planning model for rapid multi-sectoral scenario exploration. Its cloud-based shared data model, intuitive interface and visualization capabilities facilitate collaboration and communication among diverse stakeholder groups, teams, and experts modeling systems from district energy / microgrid to national scales." %}
				</p>
			</div>
			<div class="col-12">
				{% trans "Need assistance with this tool?" %}
				<br>
				<b>{% trans "Project Assistance" %}:</b>&nbsp;
				<a href="mailto: Tom.Harris@nrel.gov"><i class="fas fa-envelope"></i> Tom Harris</a>
				<br><br>
			</div>
			<div class="col-12">
				<h5>{% trans "Sample Models" %}:</h5>
				{% if public_models %}
				{% for public_model in public_models %}
				<a href="{% url 'model' public_model.uuid %}">&nbsp;{{ public_model.name }}&nbsp;</a><br>
				{% endfor %}
				{% else %}
				<span class="table-danger">{% trans "There are no publicly available sample models" %}</span>
				{% endif %}
				<br>
			</div>
			<div class="col-12">
				<h5>{% trans "Case Studies" %}:</h5>
			</div>
			<div class="col-12">
				<iframe width="230" height="130" src="https://www.youtube.com/embed/NkJ0p8O5ziM" frameborder="0"
					allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen></iframe>
				<iframe width="230" height="130" src="https://www.youtube.com/embed/kBwBf2bYzsE" frameborder="0"
					allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen></iframe>
				<br><br>
			</div>
			<div class="col-12">
				<h5>{% trans "Documentation" %}:</h5>
				<!-- Calliope Documentation -->
				<a href="https://www.callio.pe/" target="_blank">
					<img src="{% static 'images/calliope_logo.png' %}" height="36px" style="margin-top:-4px" />
				</a>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="https://calliope.readthedocs.io/en/v0.7.0/" target="_blank"><b>Calliope
						{% trans "Documentation" %} 0.7.0</b></a>
				<br><br>
			</div>
		</div>
	</div>
	<div class="col-1"></div>
	<div class="col-3" style="background-color: #fff8f8;">
		<br>
		<div class="row">
			<div class="col-12 text-center">
				<h4 id="login-label" style="display:inline">{% trans "Login" %}</h4>
			</div>
		</div>
		<br>
		<form id="login_form" method="post" action="{% url 'login' %}?next={{ redirect_to }}" data-alert="{{ status }}">
			{% csrf_token %}
			{{ login_form | crispy }}
			<div class="row">
				<div class="col-12 text-center">
					<small id="passwordHelp" class="form-text text-muted"><i class="fa fa-info-circle"
							aria-hidden="true"></i>&nbsp;&nbsp;{% trans 'Forgot password' %}? <a
							href="{% url 'password_reset' %}">{% trans 'Reset' %}</a>
						&nbsp;&nbsp;{% trans 'No account' %}? <a
							href="{% url 'register' %}">{% trans 'Register' %}</a></small>
					<br>
					<input type="submit" class="btn btn-sm btn-success" name="" value="{% trans 'Login' %}">
					<br>
					<br>
				</div>
			</div>
		</form>
	</div>
	<div class="col-1"></div>
</div>
{% endblock %}