# AWS Python SDK
boto3>=1.34.124

# Django & Celery
celery[redis]>=5.4.0
django==4.2.13
django-crispy-forms==2.2
django-environ>=0.11.2
django-modeltranslation==0.19.4
django_ratelimit>=4.1.0
flower>=2.0.1

# NREL packages
nrel-pysam>=5.1.0
# Geophires installed in Dockerfile
# git+https://github.com/NREL/GEOPHIRES-X.git#egg=geophires-x

# Util packages
psycopg2-binary==2.9.9
pyyaml>=6.0.1
# pint==0.21
# requests>=2.21.0
# pyutilib>=6.0.0
# amqp==2.6.1
# vine==1.3.0

# Calliope dependencies
# Calliope v0.7 installed in Dockerfile
# git+https://github.com/calliope-project/calliope.git@v0.7.0.dev3
bottleneck >= 1, < 2
click >= 8, < 9
geographiclib >= 2, < 3
ipdb >= 0.13, < 0.14
ipykernel < 7
jinja2 >= 3, < 4
jsonschema >= 4, < 5
natsort >= 8, < 9
netcdf4 >= 1.2, < 1.7
numpy >= 1, < 2
pandas >= 2.2.2
pyomo >= 6.7, < 7
pyparsing >= 3.0, < 3.1
ruamel.yaml >= 0.17, < 0.18
typing-extensions >= 4, < 5
xarray >= 2023.10, < 2024.3
