{% extends 'configure.html' %}

{% load static %}
{% load i18n %}

{% block head %}
<title>Engage | {{ model.name }} | Runs</title>
<script type="text/javascript" src="{% static 'js/run.js' %}"></script>
<script type="text/javascript" src="{% static 'js/run_barchart.js' %}"></script>
<script type="text/javascript" src="{% static 'js/run_timeseries.js' %}"></script>

<!--
<script type="text/javascript" src="{% static 'js/run_map.js' %}"></script>
<script type="text/javascript" src="https://d3js.org/d3.v5.min.js"></script>
<script type="text/javascript" src="https://d3js.org/d3-array.v1.min.js"></script>
<script type="text/javascript" src="https://d3js.org/d3-geo.v1.min.js"></script>
-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jeditable.js/2.0.13/jquery.jeditable.min.js"></script>
<style media="screen">
    #updates_paused {
       display: none;
    }
    html, body {
      height: 100%;
      overflow: hidden;
    }
</style>
{% endblock %}

{% block config_runs %}<h5><i class="fas fa-play"></i>&nbsp;&nbsp;<b>{% trans "Runs" %}</b></h5>{% endblock %}
{% block config_5_sync %}<i class="fas fa-sync"></i>{% endblock %}
{% block config_5_tab %}tab-active{% endblock %}

{% block content %}

<!-- Scenario Dropdown -->
<div id="subheader2" class="row content_navigation">
    {% include "scenario_selector.html" %}
</div>

<div style="height: calc(100% - 160px);">
    <!-- Outputs -->
    <div id="run_outputs" class="splitter_upper row" style="overflow-y: scroll; height: 50%; position: relative; background-color: #191a1a; color: white;">
        <span id="build-error" style="color:red"></span>
        <div id="viz_outputs_container" style="width: 100%; height: calc(200vh - 180px); display: none;">
            <div id="viz_outputs_controls" class="centered" style="width: 100%; float: left;">
                <label for="run_carrier"><b>{% trans 'Carrier' %}</b></label>&nbsp;&nbsp;
                <select id="run_carrier" data-placeholder="{% trans 'Select a Carrier' %}"></select>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label for="run_location"><b>{% trans 'Location' %}</b></label>&nbsp;&nbsp;
                <select id="run_location" data-placeholder="{% trans 'Select a Location' %}"></select>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label for="run_month"><b>{% trans 'Month' %}</b></label>&nbsp;&nbsp;
                <select id="run_month" data-placeholder="{% trans 'Select a Month' %}"></select>
            </div>
            <!-- <div id="viz_outputs_map" style="width: 50%; height: 50%; float: left;"></div> -->
            <div id="viz_outputs_barchart" style="width: 20%; height: calc(100% - 40px); float: left;"></div>
            <div id="viz_outputs_timeseries" style="width: 80%; height: calc(100% - 40px); float: left;"></div>
        </div>
        <div id="viz_logs_container" class="col-12" style="display: none;"></div>
        {% include "spinner.html" %}
    </div>
    <!-- Splitter -->
    {% include "splitter.html" with label="runs list" %}
    <!-- Dashboard -->
    <div id="runs_container" class="splitter_lower row" style="white-space: nowrap; overflow-y: scroll; height: 50%;">
        <div id="updates_paused" class="col-12" style="padding: 0;">
           <div class="col-12 alert alert-warning">
             <button class="btn btn-sm btn-warning" onClick="window.location.reload();">{% trans "Refresh" %}</button> {% trans "Dashboard updates have been paused for" %} <span id="pause_time" class="font-weight-bold">0 {% trans "seconds" %}</span>.
           </div>
        </div>
        <div id="run_dashboard" class="col-12" style="padding: 0;"></div>
    </div>
</div>

{% endblock %}