{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<table id="config_table" class="table table-hover table-sm">
	<tbody>
		<!-- Configuration Header Row  -->
		<tr class="tbl-header" style="border-left: solid 20px grey">
			<th class="sticky" colspan=2></th>
			<th class="sticky text-sm">{% trans "Technologies" %}</th>
			<th class="sticky text-sm">{% trans "Scenario Tag" %}</th>
			<th class="sticky text-sm">{% trans "Locations" %}</th>
			<th class="sticky text-sm centered">
				<button id="edit-scenario" {% if not can_edit %}disabled{% endif %} class="btn btn-light blink_me" data-toggle="tooltip" data-placement="left" title="Lock/unlock the scenario configuration."><i class="fas fa-lock" style="color:red"></i><i class="fas fa-unlock hide" style="color:green"></i></button>
			</th>
		</tr>
		<tr id="filter-row" class="tbl-header" style="border-left: solid 20px grey">
			<th class="text-sm"></th>
			<th class="text-sm"></th>
			<th class="text-sm">
			  <select class="form-control" id="tech-filter" data-toggle="tooltip" data-placement="left" title="{% trans 'Filter nodes by technology.' %}">
			  	<option selected value="">-</option>
			  	{% for unique in unique_techs %}
			    <option value="{{ unique }}">{{ unique }}</option>
			    {% endfor %}
			  </select>
			</th>
			<th class="text-sm">
			  <select class="form-control" id="tag-filter" data-toggle="tooltip" data-placement="left" title="{% trans 'Filter nodes by scenario tag.' %}">
			  	<option selected value="">-</option>
			  	{% for unique in unique_tags %}
			    <option value="{{ unique }}">{{ unique }}</option>
			    {% endfor %}
			  </select>
			</th>
			<th class="text-sm">
			  <select class="form-control" id="location-filter" data-toggle="tooltip" data-placement="left" title="{% trans 'Filter nodes by location.' %}">
			  	<option selected value="">-</option>
			  	{% for unique in unique_locations %}
			    <option value="{{ unique }}">{{ unique }}</option>
			    {% endfor %}
			  </select>
			</th>
			<th class="text-sm centered">
				<label class="switch">
				  <input class="disabled" id="add_loc_techs" type="checkbox">
				  <span class="slider round" style="border-radius: 11px;" data-toggle="tooltip" data-placement="left" title="{% trans 'Bulk toggle nodes activation for the current scenario.' %}"></span>
				</label>
			</th>
		</tr>
		{% for loc_tech in loc_techs %}
			<!-- Scenario Loc Tech Row -->
			<tr class="node {% if loc_tech.id in active_lt_ids %}table-info{% endif %}" data-loc_tech_id={{ loc_tech.id }} data-tech="{{ loc_tech.technology.pretty_name }}" data-tag="{{ loc_tech.technology.pretty_tag }}" data-locations="['{{ loc_tech.location_1.pretty_name }}'{% if loc_tech.location_2 %},'{{ loc_tech.location_2.pretty_name }}'{% endif %}]">
				<!-- Type -->
				<td class="text-sm centered" style="border-left: solid 20px {{ loc_tech.technology.color }}">
					<h6>
						{{ loc_tech.technology.abstract_tech.icon|safe }}
					</h6>
				</td>
				<!-- Carrier -->
				<td class="text-sm">
					{% if loc_tech.technology.carrier_in %}
					<b>{{ loc_tech.technology.carrier_in }}</b>
					{% else %}
					<a href="{% url 'technologies' model.uuid %}?tech_id={{ loc_tech.technology_id }}"><i class="fas fa-exclamation-triangle" data-toggle="tooltip" data-placement="right" title="{% trans 'Input carrier not defined' %}"></i></a>
					{% endif %}
					{% if loc_tech.technology.carrier_in != loc_tech.technology.carrier_out %}
					 	&nbsp;&nbsp;to&nbsp;&nbsp; 
						{% if loc_tech.technology.carrier_out %}
						<b>{{ loc_tech.technology.carrier_out }}</b>
						{% else %}
						<a href="{% url 'technologies' model.uuid %}?tech_id={{ loc_tech.technology_id }}"><i class="fas fa-exclamation-triangle" data-toggle="tooltip" data-placement="right" title="{% trans 'Output carrier not defined' %}"></i></a>
						{% endif %}
					{% endif %}
				</td>
				<!-- Technology -->
				<td>
					<a href="{% url 'technologies' model.uuid %}?tech_id={{ loc_tech.technology_id }}" style="color:#0021da"><b>{{ loc_tech.technology.pretty_name }}</b></a>
				</td>
				<!-- Tag -->
				<td class="text-sm">
					{% if loc_tech.technology.pretty_tag %}
					<i class="fas fa-tag"></i>
					&nbsp;&nbsp;
					{{ loc_tech.technology.pretty_tag }}
					{% endif %}
				</td>
				<!-- Location -->
				<td>
					<a href="{% url 'loc_techs' model.uuid %}?tech_id={{ loc_tech.technology_id }}&loc_tech_id={{ loc_tech.id }}" style="color:#0021da">
						<i class="fas fa-map-marker-alt"></i>&nbsp;
						{{ loc_tech.location_1.pretty_name }}
						{% if loc_tech.location_2 %}
						&nbsp;&nbsp;<i class="fas fa-exchange-alt"></i>&nbsp;&nbsp;
						<i class="fas fa-map-marker-alt"></i>&nbsp;
						{{ loc_tech.location_2.pretty_name }}
						{% endif %}
					</a>
				</td>
				<!-- Scenario Loc Tech Edit Buttons -->
				<td class="centered">
					<label class="switch">
					  <input class="add_loc_tech disabled" type="checkbox" {% if loc_tech.id in active_lt_ids %}checked{% endif %}>
					  <span class="slider round" data-toggle="tooltip" data-placement="left" title="{% trans 'Toggle node activation.' %}"></span>
					</label>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
