{% load i18n %}
<div class="row" id="scenario_details">
    <div class="col-8 centered">
        <br>
        <h3>{% trans "Scenario Details" %}:</h3>
        <br>
    </div>

    <div class="col-11">
        <div id="name-form" class="form-group row" style="padding-left:15px">
            <label for="scenario-name" class="col-sm-3 col-form-label"><b>{% trans "Name" %}:</b></label>
            <div class="col-sm-9">
                <input type="text" style="width:100%" id="scenario_name" data-placement="left" value="{{session_scenario.name}}">
            </div>
        </div>
    </div>

    <div class="col-11">
        <div class="form-group row" style="padding-left:15px">

            <label for="scenario-description" class="col-sm-3 col-form-label"><b>{% trans "Description" %}:</b></label>
            <div class="col-sm-9">
              <textarea id="scenario_description" class="scenario_description" data-placement="right" rows="4"> {% if session_scenario.description is not none %}{{ session_scenario.description}}{% else %}{% endif %}</textarea>
             </div>
         </div>
    </div>

</div>

<script>

  $( document ).ready(function() {

    $('#scenario_description, #scenario_name').on('change keyup paste', function () {
      $('#master-save').removeClass('hide');
    });

  });
</script>
