{% load static %}
{% load i18n %}
<style>

</style>

<div id="modal_scenario_settings">
    <div class="modal-header">
        <h5 class="modal-title" style="padding-left:30px;">Model Settings</h5>
    </div>
    <div style="width: 100%;" id="scenario_settings">
        <div style="color:red" class="col-12 centered"><br>{% trans "Oops, an error occurred" %}.<br><br></div>
    </div>
    <div class="modal-footer">
        <button id="modal-cancel" type="button" style="border: 1px solid black;margin-right:1em;" class="btn weights-close" data-dismiss="modal">{% trans "Cancel" %}</button>
        <button id="modal-save" type="button" class="btn btn-primary btn-warning">{% trans "Save Changes" %}</button>
    </div>
</div> 
