<!-- Reminder to translate all the changes -->
{% extends 'configure.html' %}
{% load static %}
{% load i18n %}

{% block head %}
<title>Engage | {{ model.name }} | Scenarios</title>
<script type="text/javascript" src="{% static 'js/scenarios.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.6.0/split.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    html, body {
      height: 100%;
      overflow: hidden;
    }
    .splittable {
      display: flex;
      flex-direction: row;
    }
    .gutter {
      width: 10px;
      height: 100%;
      background-color: #137ac2;
      background-repeat: no-repeat;
      background-position: 50%;
    }
    .gutter.gutter-horizontal {
      width: 10px;
      height: 100%; 
      position: relative;
      cursor: col-resize;
    }
    .gutter.gutter-horizontal::before {
      content: "Hide"; 
      content: "\f053"; 
      font-family: 'FontAwesome'; 
      display: block;
      position: absolute;
      color: white;
      left: 50%; 
      top: 50%; 
      transform: translate(-50%, -50%); 
      font-weight: 900; 
    }
    .left-panel {
      z-index: 1;
      min-width: 30%;
      width: 50%;
    }
    .right-panel {
      width: calc(50% - 10px);
      max-width: calc(70%-11px);
    }
    .splitter_upper {
      position: relative; 
      z-index: 1; 
    }
    .splitter_lower {
        position: relative;
        z-index: 10;
    }
    #modal-scenario-settings {
      z-index: 2;
    }
</style>
{% endblock %}

{% block config_scenarios %}<h5><i class="fas fa-code-branch"></i>&nbsp;&nbsp;<b>Scenarios</b></h5>{% endblock %}
{% block config_4_sync %}<i class="fas fa-sync"></i>{% endblock %}
{% block config_4_tab %}tab-active{% endblock %}

{% block content %}
<div id="subheader2" class="row content_navigation">
	{% include "scenario_selector.html" %}
</div>
<div style="height: calc(100% - 160px);">
    <div class="splitter_upper row splittable" style="height: 50%;">
      <!-- Scenario -->
      <div id="left-panel" class="left-panel">
        {% include "scenarios_details.html" %}
        <div style="padding-left:15px;">
          <button id="modal-scenario-settings" type="button" class="btn btn-sm btn-warning"  data-target="#modal_scenario_settings">
            {% trans "Model Settings" %}
          </button>
        </div>
        <!-- {% include } -->
				{% if model %}
				{% endif %}
      </div>
      {% include "splitter_vertical.html" %}
      <div id="right-panel" class="right-panel" style="z-index: 2;">
        {% include "map_container_resizable.html" %}
      </div>
    </div>
    <!-- Splitter -->
    <div style="z-index: 2; position: relative;">
      {% include "splitter.html" %}
    </div>
    <!-- Dashboard -->
      <div id="scenarios_dashboard" class="splitter_lower row" style="overflow-y: scroll; height: 50%;">
        <div style="width: 100%;" id="scenario_configuration"></div>

  
    </div>
</div>
</div>
{% endblock %}