{% load static %}
{% load i18n %}
<style>
.help-text {
    font-size: .8em;
}
.input-field {
    display: inline-block;
}
</style>


<form id="scenario_settings_json_form" method="post" tabindex="-1" role="dialog"  onsubmit="return false;">
    <div class="modal-header">
        <h5 class="modal-title" id="scenarioSettingsModalTitle">{% trans "Group Constraints" %}</h5>
        <button type="button" class="close group-constraints-close" data-dismiss="modal" aria-label="Close" id="group-constraints-close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>  
	<div class="centered" style="margin-top: 1em">
		<h6 class="modal-title">Complete form to convert fields to JSON</h6>
        <p><a href="https://calliope.readthedocs.io/en/stable/user/advanced_constraints.html#group-constraints" target="_blank">View Calliope Group Constraint documentation</a></p>
	</div>
    <div class="form-group col-md-8">
        <p style="font-size:.8em">{% trans "Enter a custom name." %}</p>
        <input type="text" class="form-control" id="new_group_constraint_name" name="" placeholder="{% trans 'New Group Constraint Name' %}">
        <br>
        <input disabled id="new_group_constraint_btn" type="submit" class="btn btn-sm btn-success" name="" value="{% trans '+ Group Constraint' %}">
    </div>
	<br>
	<div class="form-row">
		<!-- Timeseries Name -->
		<div id="dialog-inputs" class="form-group col-md-8">
		</div>
        <hr>
		<div class="form-group col-md-6"></div>
        <hr>
        <div class="form-group col-md-12">
            <input id="settings_import_cancel" type="submit" style="border: 1px solid black;margin-right:1em;" class="btn btn-sm group-constraints-close" name="" value="{% trans 'Cancel' %}">
            <input id="settings_import_data" type="submit" class="btn btn-sm btn-warning" name="" value="{% trans 'Convert Fields to JSON' %}">
        </div>
	</div>
    <br>
</form>