{% extends 'configure.html' %}
{% load static %}
{% load i18n %}

{% block head %}
<title>Engage | {{ model.name }} | Scenarios</title>
<script type="text/javascript" src="{% static 'js/scenarios.js' %}"></script>
<style>
    html, body {
      height: 100%;
      overflow: hidden;
    }
</style>
{% endblock %}

{% block config_scenarios %}<h5><i class="fas fa-code-branch"></i>&nbsp;&nbsp;<b>Scenarios</b></h5>{% endblock %}
{% block config_4_sync %}<i class="fas fa-sync"></i>{% endblock %}
{% block config_4_tab %}tab-active{% endblock %}

{% block content %}
<div id="subheader2" class="row content_navigation">
	{% include "scenario_selector.html" %}
</div>
<div class="row">
	<div class="col-12" id="map" style="height:350px; border:solid;"></div>
    <div class="col-12" id="map-legend-container"><div id="map-legend"></div></div>
</div>
<form style="height: 100%" id="form_scenario_settings" class="hide" method="post" action="" accept-charset="utf-8">
	<div style="overflow-y: scroll; height: calc(100% - 495px);" class="row" id="scenario_settings"><div style="color:red" class="col-12 centered"><br>{% trans "Oops, an error occurred" %}.<br><br></div></div>
</form>
<div class="row" style="overflow-y: scroll; height: calc(100% - 495px);" id="scenario_configuration"></div>
{% endblock %}