{% load static %}
{% load i18n %}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
<style>
.splitter-vertical {
    width: 10px; 
    height: 100%; 
    background-color: #137AC2; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    color: white;
    z-index: 100000;
}
.splitter-vertical:hover {
    cursor: col-resize; 
}

</style>
<div id="splitter-vertical" class="splitter-vertical">
    <i id="vertical-toggle" class="fas fa-chevron-left" style="cursor: pointer;"></i>
</div>
