{% load static %}
{% load i18n %}

<style>
    .black-div {
      width: 10px; /* Set the width of the div to 10 pixels */
      height: 100%; /* Set the height of the div; adjust as needed */
      background-color: black; /* Set the background color of the div to black */
    }

</style>
<div class="black-div"></div>

<!-- <div id="splitter" class="row noselect">
    <div class="centered" style="margin-left: auto; margin-right: auto;"><div id="splitter_btn"><span class="content"><i class="fas fa-chevron-left"></i>&nbsp;&nbsp;&nbsp; {% trans "Hide" %} </span></div></div>
</div> -->
