{% load i18n %}

<!DOCTYPE html>
<html lang="en">
{% load return_item %}
{% load add_commas %}

<style>
	.tooltip-inner {
		text-align: left;
	}
</style>

{% if carrier_in %} <input class="hide units_in_field" value="{{ carrier_in.name }}" rate_unit="{{ carrier_in.rate }}" quantity_unit="{{ carrier_in.quantity }}"> {% endif %}
{% if carrier_out %} <input class="hide units_out_field" value="{{ carrier_out.name }}" rate_unit="{{ carrier_out.rate }}" quantity_unit="{{ carrier_out.quantity }}"> {% endif %}
{% if multiselect_values %}
{% for mvalue in multiselect_values %}
<input class="hide multiselect_value {{ mvalue.dup_tag }}" value="{{ mvalue.dup_tag }}" index="{{ mvalue.index }}" dim="{{ mvalue.dim }}" rate_unit="{{ mvalue.rate }}" quantity_unit="{{ mvalue.quantity }}">
{% endfor %}{% endif %}
<table id="param_table" class="table table-hover table-sm" style="white-space:nowrap">
	<tbody>
		{% for p in parameters %}
			{% with parameters|return_item:p as param %}
			
			{% if param.level != "1_tech" %}{% if param.level != "2_loc_tech" %}
				{% ifchanged param.parameter_category %}
				<!-- Category Header Row  -->
					<tr class="tbl-header">
						<th class="centered">
							{% if param.parameter_category == "Costs: Monetary" %}
							<i class="fas fa-dollar-sign"></i>
							{% elif param.parameter_category in emissions %}
							<i class="fa-solid fa-smog fa-xs"></i>
							{% else %}
							<i class="fas fa-link"></i>
							{% endif %}
						</th>
						<th colspan=7 class="text-sm">
							{{ param.parameter_category }}
						</th>
						<th class="centered">
							<i class="fas fa-caret-down"></i>
							<i class="fas fa-caret-up hide"></i>
						</th>
					</tr>
				{% endifchanged %}
			{% endif %}{% endif %}
			{% if param.dup_tag and not param.index %}
				{% for mvalue in multiselect_values %}
					{% if mvalue.dup_tag in param.dup_tag %}
						{% if param.parameter_id not in existing_dupes or mvalue not in existing_dupes|return_item:param.parameter_id %}
						{% with mvalue.index as index and mvalue.dim as dim and mvalue.rate as rate and mvalue.quantity as quantity and mvalue.dup_tag as dup_tag %}
							{% for instance_year, instance in param.instances.items|slice:":1" %}
							{% include "technology_parameter_master_row.html" %}
							{% include "technology_parameter_year_value_row.html" %}
							{% include "technology_parameter_add_rows.html" %}
							{% endfor %}
						{% endwith %}
					{% endif %}{% endif %}
				{% endfor %}
			{% else %}
				{% with param.index as index and param.dim as dim and multiselect_values|find_param_dup_tag:index as dup_tag %}
				{% with param.instances|return_first_key as instance_year %}
				{% with param.instances|return_item:instance_year as instance %}
				<!-- Parameter Master Row -->
				{% include "technology_parameter_master_row.html" %}
				{% endwith %} {% endwith %}
				<!-- Parameter Auxiliary Rows -->
				{% if param.timeseries == True %}
					<!-- Timeseries Visualization Row -->
					<tr class="param_row param_row_min param_row_{{ param.parameter_id }}{% if index %}{{index.0}}{% endif %} table-default{% if dup_tag %} {% if not index %}dup_default hide {% endif %} {{dup_tag}}" data-dup-tag={{dup_tag}}{% else %} "{% endif %} data-param_id={{ param.parameter_id }}{% if index %}{{index.0}} data-index={{index.0}}{% endif %}>
						<td colspan=8 style="background-color: white;">
							<div id="chart-{{ param.parameter_id }}{% if index %}{{index.0}}{% endif %}" class="row centered timeseries_viz"></div>
						</td>
					</tr>
				{% elif param.type == "piecewise" %}
					{% for instance_year, instance in param.instances.items %}
					{% include "technology_parameter_piecewise_row.html" %}
					{% endfor %}
					{% include "technology_parameter_piecewise_add_row.html" %}				
				{% else %}
					<!-- Year-value param for every param instance -->
					{% for instance_year, instance in param.instances.items %}
					{% include "technology_parameter_year_value_row.html" %}
					{% endfor %}
					<!-- Parameter Add Row (Always Hidden) -->
					{% if param.timeseries == False %}
						{% include "technology_parameter_add_rows.html" %}
					{% endif %}
				{% endif %}
				{% endwith %}
			{% endif %}
			{% endwith %}
		{% endfor %}
	</tbody>
</table>
