{% extends 'configure.html' %}
{% load static %}
{% load i18n %}

{% block head %}
<title>Engage | {{ model.name }} | Technologies</title>
<script type="text/javascript" src="{% static 'js/technologies.js' %}"></script>
<style>
    html, body {
      height: 100%;
      overflow: hidden;
    }
</style>
{% endblock %}

{% block config_technologies %}<h5><i class="fas fa-cog"></i>&nbsp;&nbsp;<b>{% trans "Technologies" %}</b></h5>{% endblock %}
{% block config_2_sync %}<i class="fas fa-sync"></i>{% endblock %}
{% block config_2_tab %}tab-active{% endblock %}

{% block content %}
<div id="subheader2" class="row content_navigation">
	{% include "technology_selector.html" %}
</div>

<!-- Essentials -->
<form id="form_data_1" method="post" action="" accept-charset="utf-8" autocomplete="off">
	<div class="row" id="tech_essentials"></div>
</form>

<!-- Parameters -->
<form id="form_data_2" style="height:100%" method="post" action="" accept-charset="utf-8" autocomplete="off">
	<div class="row" style="overflow-y: scroll; max-height: calc(100% - 495px);" id="tech_parameters"></div>
</form>
{% endblock %}
