<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load i18n %}

{% load return_item %}
<div class="col-6" style="border:solid 1px;height:350px;overflow-y:scroll">
	<div class="row">
		<div class="col-2 centered">
			<br>
			<button id="technology-delete" {% if not can_edit %}disabled{% endif %} type="button" class="btn btn-outline-danger btn-sm"><i class="fas fa-trash"></i></button>
		</div>
		<div class="col-8 centered">
			<br>
			<h3>{% trans "Technology Definition" %}:</h3>
			<div style="font-size: 0.8em; margin-top: -5px;">ID:&nbsp;&nbsp;<b>{{ technology.calliope_name }}</b></div>
			<br>
		</div>
		<div class="col-2 centered">
			<br>
			<input {% if not can_edit %}disabled{% endif %} id="tech_color" type='text' name='essentials[3]' value='{{ essentials.3.value }}' />
		</div>

		<!-- Name -->
		<div class="col-5">
			<b>{% trans "Name" %}:</b>
		</div>
		<div class="col-7">
			<input {% if not can_edit %}disabled{% endif %} id="tech_name" style="width:100%" type="text" name='essentials[tech_name]' value="{{ technology.pretty_name }}">
		</div>

		<!-- Version Tag -->
		<div class="col-5" data-toggle="tooltip" data-placement="left" title="{% trans 'Version tags are used to differentiate multiple versions of the same technology' %}">
			<b>{% trans "Version Tag" %}:</b>
		</div>
		<div class="col-7">
			<input {% if not can_edit %}disabled{% endif %} id="tech_tag" style="width:100%" type="text" name='essentials[tech_tag]' value="{% if technology.pretty_tag %}{{ technology.pretty_tag }}{% endif %}">
		</div>

		<!-- Carriers -->
		<!-- Required Carriers (Simple) -->
		{% for carrier_id in required_carrier_ids %}
			{% if carrier_id not in cplus_carrier_ids %}
				{% with essentials|return_item:carrier_id as carrier %}
				{% if carrier %}
					{% include 'carrier_form_simple.html' %}
				{% endif %}
				{% endwith %}
			{% endif %}
		{% endfor %}
		<!-- Required Carriers (Conversion Plus) -->
		<div class="col-12">
		{% for carrier_id in required_carrier_ids %}
			{% if carrier_id in cplus_carrier_ids %}
				{% with essentials|return_item:carrier_id as carrier %}
				{% with True as required %}
				{% if carrier %}
					{% include 'carrier_form_complex.html' %}
				{% endif %}
				{% endwith %}
				{% endwith %}
			{% endif %}
		{% endfor %}
		</div>
		<!-- Optional Carriers (Conversion Plus) -->
		<div class="col-12">
		{% for carrier_id in cplus_carrier_ids %}
			{% if carrier_id not in required_carrier_ids %}
				{% with essentials|return_item:carrier_id as carrier %}
				{% with False as required %}
				{% if carrier %}
					{% include 'carrier_form_complex.html' %}
				{% endif %}
				{% endwith %}
				{% endwith %}	
			{% endif %}
		{% endfor %}
		</div>

	</div>
	<div class="row">
		<div class="col-12">
			<b>{% trans "Description" %}:</b><br>
			<textarea {% if not can_edit %}disabled{% endif %} name="essentials[tech_description]" id="tech_description">{% if technology.description %}{{ technology.description }}{% endif %}</textarea>
		</div>
	</div>
</div>
<div class="col-6 centered" style="border:solid 1px;height:350px;overflow-y:scroll;">
	<br>
	<h3>{{ technology.abstract_tech.icon|safe }}&nbsp;&nbsp;{{ technology.abstract_tech.pretty_name }}</h3>
	<br>
    {% with technology.abstract_tech.image as image_static %}
	<img width="100%" src="{% static image_static %}" alt="">
	<br>
	{{ technology.abstract_tech.description|safe }}
	<br><br>
	{% endwith %}
</div>
