{% load i18n %}
{% load add_commas %}
{% load return_item %}

<!DOCTYPE html>
<html lang="en">
{% load static %} 
<!-- Parameter Year - Value Row -->
<tr class="param_row param_row_min param_row_{{ param.parameter_id }}{% if index %}{{index.0}}{% endif %} {% if param.level == level %}{% if param.parameter_category == 'Costs: Monetary' %}table-success{% elif param.parameter_category in emissions %}table-info{% else %}table-primary{% endif %}{% else %}table-default{% endif %}{% if param.dup_tag %} {% if not index %}dup_default hide {% endif %} {{param.dup_tag}}" data-dup-tag={{param.dup_tag}}{% else %} "{% endif %} data-param_id={{ param.parameter_id }}{% if index %}{{index.0}} data-index={{index.0}}{% endif %}>
    <td colspan=3 style="background-color: white;"></td>
    <!-- Year -->
    <td class="">
        <input {% if not can_edit %}disabled{% endif %} type="number" class="dynamic_year_input form-control parameter-year parameter-year-existing" value="{{ param.year }}" data-value="{{ param.year }}" name="edit[parameter_instance][][year]">
    </td>
    <!-- Value -->
    <td class="centered">
        <!-- Adding context for parameter saving refactor -->
        {% if index %}
        <input type="hidden" disabled class="parameter-extra parameter-index" name="edit[parameter_instance][][index]" data-value="{{index.0}}" value="{{index.0}}" disabled>
        <input type="hidden" disabled class="parameter-extra parameter-dim" name="edit[parameter_instance][][dim]" data-value="{{dim.0}}" value="{{dim.0}}" disabled>
        {% else %}
        <input type="hidden" disabled class="parameter-extra parameter-index" name="edit[parameter_instance][][index]" disabled>
        <input type="hidden" disabled class="parameter-extra parameter-dim" name="edit[parameter_instance][][dim]" disabled>
        {% endif %}
        {% if param.id and param.level == level %}
        <input type="hidden" disabled class="parameter-extra" name="edit[parameter_instance][][id]" data-value="{{param.id}}" value="{{param.id}}" disabled>
        {% else %}
        <input type="hidden" disabled class="parameter-extra" name="edit[parameter_instance][][id]" disabled>
        {% endif %}
        <input type="hidden" disabled class="parameter-extra" name="edit[parameter_instance][][parameter_id]" data-value="{{param.parameter_id}}" value="{{param.parameter_id}}" disabled>
        {% if param.choices or param.parameter_is_carrier %}
        <select {% if not can_edit %}disabled{% endif %} class="dynamic_value_input form-control parameter-value parameter-value-existing" name="edit[parameter_instance][][value]" data-value="{{ param.value }}">
            {% if param.choices %}
                {% for choice in param.choices %}
                <option value="{{ choice }}" {% if choice == param.value %}selected{% endif %}>{{ choice }}</option>
                {% endfor %}
            {% else %}
                {% if not param.value %}
                <option selected></option>
                {% endif %}
                {% for c in carriers %}
			    {% with carriers|return_item:c as choice %}
                <option value="{{ choice.name }}" {% if choice.name == param.value %}selected{% endif %}>{{ choice.name }}</option>
                {% endwith%} {% endfor %}
            {% endif %}
        </select>
        {% else %}
        <input disabled type="text" class="dynamic_value_input form-control parameter-value parameter-value-existing {% if param.units == '<sub>ABC</sub>' %}text-value{% else %}float-value{% endif %}" value="{{ param.placeholder|add_commas }}" data-value="{{ param.placeholder|add_commas }}" name="edit[parameter_instance][][value]">
        {% endif %}
    </td>
    <!-- Parameter Values -->
    {% if param.timeseries == False and not param.choices and not param.parameter_is_carrier %}
    <td class="parameter-target-value" style="text-align:right;" data-value="{{ param.value|add_commas }}">{{ param.value|add_commas }}</td>
    {% else %}
    <td></td>
    {% endif %}
    <!-- Parameter Units -->
    <td class="text-sm parameter-units" data-value="{{ param.units }}" raw-value="{{ param.raw_units }}">{{ param.units|safe }}</td>
    <!-- Edit Buttons -->
    <td class="centered">
        <button {% if not can_edit %}disabled{% endif %} tabindex="-1" type="button" class="btn btn-default btn-sm transparent parameter-reset hide"><i class="fas fa-undo"></i></button>
        {% if param.level == level %}
            <button {% if not can_edit %}disabled{% endif %} tabindex="-1" type="button" class="btn btn-default transparent parameter-value-delete"><i class="fas fa-times"></i></button>
            {% if index %}
            <input type="hidden" disabled class="parameter-delete-extra" name="delete[parameter_instance][][index]" data-value="{{index.0}}" value="{{index.0}}">
            <input type="hidden" disabled class="parameter-delete-extra" name="delete[parameter_instance][][dim]" data-value="{{dim.0}}" value="{{dim.0}}">
            {% else %}
            <input type="hidden" disabled class="parameter-delete-extra parameter-index" name="delete[parameter_instance][][index]">
            <input type="hidden" disabled class="parameter-delete-extra parameter-dim" name="delete[parameter_instance][][dim]">
            {% endif %}
            {% if param.id %}
            <input type="hidden" disabled class="parameter-delete-extra" name="delete[parameter_instance][][id]" data-value="{{param.id}}" value="{{param.id}}">
            {% else %}
            <input type="hidden" disabled class="parameter-delete-extra" name="delete[parameter_instance][][id]">
            {% endif %}
            <input {% if not can_edit %}disabled{% endif %} style="display: none" class="check_delete" type="checkbox" name="delete[parameter_instance][][delete]">
        {% endif %}
    </td>
    <td style="background-color: white"></td>
</tr>