<!-- Modal -->
{% load i18n %}
<style>
    .help-text {
        font-size: .8em;
    }
    #templatesModal input {
        max-width: 250px;
        padding: 0;
        padding-right: 6px;
        width: 70%;
    }
    #templatesModal select {
        max-width: 250px;
        padding: 0;
        padding-right: 6px;
        width: 70%;
    }
    #templatesDialog {
        min-width: 80% !important;
    }
</style>
<div class="modal fade" id="templatesModal" tabindex="-1" role="dialog" aria-labelledby="templateModalTitle" aria-hidden="true">
    <div id="templatesDialog" class="modal-dialog" role="document">
        <div id="modalContent" class="modal-content">
            <div class="modal-header">
            <h2 class="modal-title" id="templateModalTitle">{% trans "Templates" %}</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="col-3" style="margin-top:15px;margin-left:80%;">
                <button id="addTemplate" class="btn btn-success btn-sm" type="button">
                    + {% trans "Template" %}
                </button>
            </div>
            <div id="modalBody" class="modal-body">
            <!-- Header -->
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
            </div>
        </div>
        <div id="modalEdit" class="modal-content" aria-hidden="true">
            <div class="modal-header" aria-hidden="true">
            <h2 id="editModalTitle" class="modal-title">{% trans "Edit Template" %}:</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div id="editModalBody" class="modal-body">
            <!-- Header -->
            <br><br>
            <label><b>{% trans "Template Name" %}</b></label>
            <p class='help-text'>{% trans "Enter the custom template name." %}</p>
            <input id='templateName' name='templateName' style="margin-bottom:1em" class='form-control' placeholder='Template Name'  value=''></input>

            <div class='input-field'><label><b>{% trans "Template Type" %}</b></label>
            <p class='help-text'>{% trans "Select a template type from the dropdown. There will be additional form variables to fill out depending on your selection." %}</p>
            <select style="margin-bottom:1em" class="form-control" id='templateType' name='templateType' data-toggle='tooltip' data-placement='left'></select>
            </div>
            <div class='input-field'><label><b>{% trans "Primary Location" %}</b></label>
            <p class='help-text'>{% trans "Select a primary location from which all other template locations will be offsetted from." %}</p>
            <select style="margin-bottom:1em" class="form-control" id='primaryLocation' name='primaryLocation' data-toggle='tooltip' data-placement='left'></select>
            </div>
            <div id="templateVars" style="margin-bottom:1em">
            </div>
            <span id="templateError" hidden="true" style="color:red;margin-bottom:1em">
                {% trans "Please fill out all template fields before saving!" %}
            </span>
            <div class="modal-footer">
                <button id="modelEditBack" class="btn btn-secondary" type="button" style="width:160px;height:38px;float:left;">
                    {% trans "Back to Templates" %}
                </button>
                <button id="saveTemplate" class="btn btn-success btn-sm" type="button" style="width:64px;height:38px;">
                    {% trans "Save" %}
                </button>
            </div>
            </div>

        </div>
    </div>
</div>